body {
  margin: 0;
  
}

.Navbar {
  background-color: black;
  padding: 10px;
}
li{
  display: inline;
  color: white;
  padding: 0 40px;
}
ul{
  padding: 0;
}
.Main{
  text-align: center;
}
input{
  border-radius: 15px;
  padding: 10px;
}
button{
  background-color: cadetblue;
  border-radius: 15px;
  padding: 10px;
}

/* weather */
.WeatherComponent{

  text-align: center;
}